.box {
    width: 200px;height: 200px;background: #CCC;
    transform: rotate(0deg);
    transition: 1s all ease;
}
.box:hover {
    transform: rotate(90deg);
}

.logo {
    background: url("../imgs/logo.jpg") no-repeat;width: 1080px;height: 1920px; text-indent: -999px;
}